@use "../colors" as *;

.QuickSettings .center {
  padding: 0 20px;

  button {
    min-width: 150px;
    min-height: 40px;
    background: $surface-container-high;
    border-radius: 24px;
    padding: 6px;
    
    &.active {
      background: $inverse-surface;

      label {
        color: $inverse-on-surface;
      }
    }
    label {
      color: $on-surface;

    }
  }
}
