@use "colors" as *;
@use "notif/notification";
@use "material";
@use "topbar/topbar";
@use "quicksettings/quicksettings";


* {
  all: unset;
}

scrollbar {
  all: unset;
  trough {
    color: $surface-bright;
    background-color: $surface-bright;
    min-width: 0px;
    slider {
      background-color: $surface-bright;
      color: $surface-bright;
      min-width: 0px;
    }  
  }
}
